:root{
  --background: #CC232A;
  --box: #A3262A;
  --textColor:#F5AC27;
  --font1:"font1";
  --font2:"font2";
}
@font-face {
  font-family: "font1";
  src: url(./hHittoSushi.ttf);
}
@font-face {
  font-family: "font2";
  src: url(./Korean_Calligraphy.ttf);
}
*{
  margin: 0;
  padding: 0;
}